<!DOCTYPE html>
<html lang="ja-JP">
  <meta charset="utf-8">
  <title>川東優子税理士事務所</title>
  <meta name="keywords" content="会計事務所,税理士事務所,税理士,葛飾区,起業,開業,税務">
  <meta name="description" content="各種税金の申告・相談、記帳代行、起業支援など。">
  <meta name="abstract" content="各種税金の申告・相談、記帳代行、起業支援など。">
  <%= stylesheet_link_tag "screen" %>
</head>
<body class="<%= page_classes %>">
  <div id="container">
    <div id="header"><h1>川東優子税理士事務所</h1></div>
    <div id="wrapper">
      <div id="content">
        <%= yield %>
      </div>

      <%= partial "navigation" %>

      <div id="extra">
        <p><strong>お気軽にお問い合わせ下さい。</strong></p> 
        <div id="hcard-kawahigashi" class="vcard">
          <div class="org">川東優子税理士事務所</div>
          <div class="tel">
            <span class="type" title="voice">tel</span>:
            <span class="value">03-3576-5262</span>
          </div>
          <div class="fax">
            <span class="type" title="fax">fax</span>:
            <span class="value">050-3513-7177</span>
          </div>
          <a href="contact/" id="contact-link">e-mail</a>
        </div>
      </div>
    </div>

    <div id="footer">
      <p>copyright &copy; 2008&ndash;<%= Time.now.year %> Yuko Kawahigashi, all rights reserved.</p>
    </div>
  </div>
</html>
